    <div class="collapse bg-inverse" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 py-4">
            <h4 class="text-white">Sobre</h4>
            <p class="text-about"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a tincidunt dolor. 
              Vivamus sed maximus nibh. Pellentesque in maximus augue. Nullam non pulvinar enim. Phasellus enim 
              tellus, malesuada sit amet diam quis, vulputate consectetur nibh. Morbi lobortis nisi et lectus 
              imperdiet, et facilisis leo aliquet. Nunc in semper risus. </p>
          </div>
          <div class="col-sm-4 py-4">
            <h4 class="text-white">Produtos</h4>
            <ul class="list-unstyled">
              <li><a (click)="search('calca')" class="text-white">Calças</a></li>
              <li><a (click)="search('blusa')" class="text-white">Blusas</a></li>
              <li><a (click)="search('cropped')" class="text-white">Cropped</a></li>
              <li><a (click)="search('bata')" class="text-white">Bata</a></li>
              <li><a (click)="search('vestido')" class="text-white">Vestido</a></li>
              <li><a (click)="search('todos')" class="text-white">Todos</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-inverse bg-inverse">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand">Fashion & Style</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div> 