    <div class="row">
        <ul class="promotion">
          <li class="col-12 col-sm-4"> 
            <a href="javascript:void(0)" class="item-link"> 
              <img src="../assets/images/banner/woman-small.jpg" alt="" class="item-img"/>
              <div class="box">
                <h3>hurry up!</h3>
                <p>don’t miss your chance to be the first!</p>
              </div>
            </a>            
          </li>
          <li class="col-12 col-sm-4"> 
             <a href="javascript:void(0)" class="item-link"> 
              <img src="../assets/images/banner/sneakers.jpg" alt="" class="item-img"/>
              <div class="box">
                <h3>fresh look!</h3>
                <p>Get Up to 15% Off</p>
              </div>
             </a>            
          </li>
          <li class="col-12 col-sm-4"> 
             <a href="javascript:void(0)" class="item-link"> 
               <img src="../assets/images/banner/mens-big.jpg" alt="" height="281" class="ml166"/>
              <div class="box">
                <h3>Mens!</h3>
                <p>Get Up to 15% Off</p>
              </div>
             </a>             
          </li>
        </ul>
    </div>