/** Geral */
$colorPrimary:#e43277;
$colorSecondary:#ffa396;

$background:#f7f7f7;
$backgroundColor: #f2f6fa;
$backgroundDefault: #f2f6fa;
$backgroundFooter:#3d3a44;
$backgroundNav:#e43277;

$colorDefault:#fff;
$colorSale:#ffa396;
$colorGrey:#3d3a44;
$colorBlack:#333;
$colorGreen:#57cc86;

$btnBg:#ffa396;
$btnHover:#e43277;

$brandColor: #28b53b;
$borderColor: #ced3d9;
$dangerColor: #ff4337;
$primaryColor: #0080ff;
$successColor: #28b53b;
$warningColor: #ff9933;

/** Geral */
$textColor: #5c6166;
$brandBarHeight: 68px;
