<cp-navbar id="header" (outTerm)="search($event)"> </cp-navbar> 

    <section class="jumbotron back-header text-center">
      <div class="container">
        <h1 class="jumbotron-heading"> Fashion & Style </h1>
        <p class="lead text-muted">
          Fashion tips always come better from a professional point of view. 
          I’ve worked at multiple nationwide women’s magazines, so I will do my best 
          to be a perfect guide for you in this world of lifestyle, fashion and beauty!
        </p>       
      </div>
    </section>

    <cp-carousel-simple> </cp-carousel-simple>

    <cp-banner-column> </cp-banner-column>

    <cp-carousel-column [collection]="carousel" [title]="title" > </cp-carousel-column>


<a (click)="goToScroll('#header')" id="toTop" class="toTop fa fa-angle-up">
  Topo
</a>

<cp-footer> </cp-footer>

